.tag_list_container {

}

.tag_list_item_container {

}

.tag_list_header_container_first {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.tag_list_header_container_last {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.tag_list_header_container {
    width: 100%;
    border: 1px solid #000;
    padding: 0px 5px 0px 10px;
    box-shadow: inset 0px -3px 5px 0px rgb(0 0 0 / 25%);
    cursor: default;
}

.tag_list_header_container h3 {
    margin: 5px 5px 5px 15px;
}

.tag_list_item_content {
    width: 100%;
    border: 1px solid #000;
    padding: 5px 5px 5px 10px;
    word-break: break-word;
    cursor: default;
}

.tag_list_item_content_item {
    margin: 0 5px;
}

.tag_list_item_content_item:hover {
    color: #9fa9e1;
}

.tag_list_item_content_item_selected {
    color: #5369de;
}

.tag_list_search_button {
    margin: 0;
    width: calc(100% + 17px);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}