.tag_list_container {

}

.tag_list_item_container {

}

.tag_list_rating_wrapper {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 0px 5px 0px 10px;
    height: 30px;
    border: 1px solid #000;
    border-bottom: none;
    background: linear-gradient(90deg, #667085 0%, #3b4354 100%);
    box-shadow: inset 0px -3px 5px 0px rgb(0 0 0 / 25%);
}

.tag_list_rating_container {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.tag_list_rating_item_border {
    border-right: 1px solid #000;
}

.tag_list_rating_item:hover {
    background-color: rbga(0 0 0 80%);
    box-shadow: inset 0px -3px 5px 0px rgb(0 0 0 / 25%);
}

.tag_list_rating_unselected {
    background-color: #fff;
}

.tag_list_rating_item {
    width: 20%;
}

.tag_list_header_container_last {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.tag_list_header_container {
    width: 100%;
    border: 1px solid #000;
    padding: 0px 5px 0px 10px;
    box-shadow: inset 0px -3px 5px 0px rgb(0 0 0 / 25%);
    box-sizing: border-box;
    cursor: default;
}

.tag_list_header_container h3 {
    margin: 5px 5px 5px 15px;
}

.tag_list_item_content {
    width: 100%;
    border: 1px solid #000;
    padding: 5px 5px 5px 10px;
    word-break: break-word;
    cursor: default;
    box-sizing: border-box;
}

.tag_list_item_content_item {
    margin: 0 5px;
}

.tag_list_item_content_item:hover {
    color: #9fa9e1;
}

.tag_list_item_content_item_selected_and {
    color: #5369de;
}

.tag_list_item_content_item_selected_or {
    color: #53de6d;
}

.tag_list_item_content_item_selected_not {
    color: #de5353;
}

.tag_list_search_button {
    background: linear-gradient(90deg, #667085 0%, #3b4354 100%);
    margin: 0;
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}