.file_manager_file {
	display: flex;
    justify-content: space-between;
}

.file_manager_file:hover {
	background-color: rgb(86 127 230 / 75%)
}

.file_manager_file_icon {
	margin-left: 5px;
	margin-right: 10px;
}

.file_manager_scan_icon {
	float: right;
}

.file_manager_scan_icon_scanned {
	background-color: rgb(86 127 230 / 75%)
}