.video_view_container {
}

.video_view_container_modal {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0 0 0 / 75%);
}

.video_view_video_container {
	position: relative;
	height: 100%;
	width: 100%;
}

.video_view_video_content {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}