.header {
	position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    min-width: 800px;
    height: 66px;
    background-color: rgba(17,17,17,0.75);
    box-shadow: 0 3px 7px 0 rgb(0 0 0 / 35%);
}

.header_signin {
    display: flex;
    align-items: center;
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    width: 150px;
    height: 66px;
}

.header_signin > span {
    text-decoration: none;
    font-size: 18px;
    color: white;
    cursor: pointer;
    user-select: none;
}