.tokenizer_container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    min-width: 800px;
    background-color: rgba(17,17,17,0.75);
}

.tokenizer_container input {
    font-size: 22px;
    border: none;
    width: 100%;
    background-color: rgb(177 177 177);
    border-radius: 5px;
}

.tokenizer_category_label {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #000;
    padding: 0 10px;
    border: 1px solid #8a8a8a;
}

.tokenizer_input_container {
    position: relative;
    margin: 10px 15px;
    height: 25px;
    display: flex;
}

.tokenizer_tokens_container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
}

.tokenizer_input_autocomplete_container {
    position: absolute;
    left: 0;
    bottom: 25px;
    background-color: rgb(177 177 177);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 1px 5px;
    border-radius: 5px;
    color: #000;
}

.tokenizer_token_container {
    margin: 0 3px;
    padding: 0 3px;
    position: relative;
    display: flex;
    border: 1px solid #8a8a8a;
    border-radius: 5px;
    height: 100%;
}

.tokenizer_token_delete_icon_container {
    position: relative;
    width: 10pt;
}

.tokenizer_image_button {
    position: relative;
    border: none;
    outline: none;
    background: none;
    border-radius: 5px;
    margin: 0 2px;
}

.tokenizer_image_button:hover {
    box-shadow: 1px 1px 5px 0px rgb(114 114 114 / 35%);
}

.tokenizer_image_button:active {
    box-shadow: 1px 1px 5px 0px rgb(0 0 0 / 35%);
}

.tokenizer_image_button img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
}


.tokenizer_token_delete_icon {
    position: absolute;
    left: 1px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 12px;
    filter: invert(50%) sepia(1) hue-rotate(310deg) saturate(5);
}

.tokenizer_token_delete_icon:hover {
    filter: invert(50%) sepia(1) hue-rotate(310deg) saturate(10);
}

.tokenizer_input_image_save_button {
    width: 40px;
}

.tokenizer_input_image_discard_button {
    width: 15px;
}

.tokenizer_input_image_save_button img {
    filter: invert(50%) sepia(1) hue-rotate(90deg) saturate(5);
}

.tokenizer_input_image_discard_button img {
    filter: invert(50%) sepia(1) hue-rotate(320deg) saturate(5);
}