.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 50pt;
  background-color: rgba(17,17,17,0.75);
  box-shadow: 0 3px 7px 0 rgb(0 0 0 / 35%);
  transition: 0.5s;
}

.header_hidden {
  top: -50pt;
}

.header_offset {
  top: 0 !important;
}

.header_signin {
  display: flex;
  align-items: center;
  float: right;
  position: absolute;
  right: 0;
  top: 0;
  width: 150px;
  height: 66px;
}

.header_signin > span {
  text-decoration: none;
  font-size: 18px;
  color: white;
  cursor: pointer;
  user-select: none;
}

.header_sidebar_container {
  display: flex;
}

.header_sidebar_tag_icon {
  position: relative;
  width: 30pt;
  height: 30pt;
  margin: 10px 10px 0 0;
}

.header_sidebar_tag_icon img {
  position: absolute;
  height: 20pt;
  top: 0;
  bottom: 0;
  margin: auto;
  filter: invert(60%);
}

.header_collapse {
  position: absolute;
  bottom: -5pt;
  left: 0;
  height: 5pt;
  width: 100%;
}

.header_collapse:hover {
  background-image: linear-gradient(rgba(0 0 0 / 15%), rgba(0 0 0 / 0%)); ;
}