.image_view_container {
    position: fixed;
    height: calc(100vh - 66px);
    width: 100vw;
    top: 66px;
    left: 0;
}

.image_view_container_full {
    top: 0 !important;
    height: 100vh !important;
}

.image_view_content {
    position: relative;
    height: 100%;
    width: 100%;
}

.image_view_image {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

.image_view_container_modal {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0 0 0 / 75%);
}