.breadcrumbs_container {
    display: flex;
}

.breadcrumbs_icon {
    width: 18pt;
    height: 18pt;
    background-color: #3a3a3a;
    border-radius: 25%;
    padding: 5px;
}

.breadcrumbs_icon:hover {
    filter: sepia(50%);
}

.breadcrumbs_icon_chevron {
    width: 18pt;
    height: 18pt;
    padding: 5px 0;
}

.breadcrumbs_icon_container {
    margin-right: 10px;
}