.audio_view_container {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 3.5em;
}

.audio_view_audio_info {

}

.audio_view_audio_tag {
	display: none;
}

.audio_view_audio_content_container {
	text-align: center;
}

.audio_view_audio_content {

}

audio::-webkit-media-controls-panel {
	background: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    cursor: pointer;
    background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
}