.dropdown_container {
  display: inline-block;
  position: relative;
  width: 100%;
}

.dropdown_selector_container {
  border: 1px solid #8a8a8a;
  border-radius: 5px;
  padding: 2px 5px 2px 5px;
  box-shadow: 0 0 2px 0px #a0a0a0bf;
  box-sizing: border-box;
  user-select: none;
}

.dropdown_float_container {
  position: absolute;
  width: 100%;
  right: 0;
  margin-top: 2px;
  border: 1px solid #404040;
  background-color: #000;
  box-shadow: 0 0 2px 0px #a0a0a0bf, 1px 1px 5px 1px #a0a0a0bf;
  overflow-x: hidden;
  border-radius: 5px;
  box-sizing: border-box;
  user-select: none;
  z-index: 50;
}

.dropdown_chevron {
  width: 10px;
  padding: 3px 2px;
  float: right;
  filter: invert(50%);
}

.dropdown_float_item {
  padding: 0 43px 0 5px;
  box-sizing: border-box;
}

.dropdown_float_item:hover {
  background-color: #656565;
  color: #fff;
}

.dropdown_selector_placeholder_text {
  color: #989898;
}

.dropdown_item_icon {
  padding: 1px 0 0 0;
  filter: invert(60%);
}

.dropdown_modal {
  display: none;
  background-color: rgb(0 0 0 / 80%);
}


@media only screen and (max-width: 600px) {
  .dropdown_float_container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 10px;
    right: 10px;
    margin: auto;
    padding: 25px 0;
    height: fit-content;
    width: calc(100% - 20px);
  }

  .dropdown_modal {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
  }

  .dropdown_float_item {
    padding: 1rem 0.3rem;
    border: 1px solid #2b2b2b;
  }
}