.dropdown_container {
  display: inline-block;
  position: relative;
  width: 100%;
}

.dropdown_selector_container {
  border: 1px solid #8a8a8a;
  border-radius: 5px;
  padding: 2px 5px 2px 5px;
  box-shadow: 0 0 2px 0px #a0a0a0bf;
  box-sizing: border-box;
  user-select: none;
}

.dropdown_float_container {
  position: absolute;
  right: 0;
  margin-top: 2px;
  border: 1px solid #404040;
  background-color: #000;
  box-shadow: 0 0 2px 0px #a0a0a0bf, 1px 1px 5px 1px #a0a0a0bf;
  overflow-x: hidden;
  border-radius: 5px;
  padding: 5px 5px;
  box-sizing: border-box;
  user-select: none;
  z-index: 50;
}

.dropdown_icon {
  height: 100%;
  margin-top: 1px;
  margin-left: 5px;
  margin-right: 5px;
  float: right;
  filter: invert(50%);
}

.dropdown_float_item:hover {
  background-color: #656565;
  color: #fff;
}

.dropdown_selector_placeholder_text {
  color: #989898;
}

.dropdown_item_icon {
  padding: 1px 0 0 0;
  filter: invert(60%);
}