.rating_slider_container {
    width: 14pt;
    height: 14pt;
    border-radius: 50%;
    margin: 6px 5px 5px 5px;
    display: inline-block;
    box-shadow: inset -1px -1px 7px, 1px 1px 5px;
}

.rating_slider_slider {
    margin-top: 0px;
}

.rating_slider_no_rating {
    background-color: rgb(177, 177, 177);
}


.rating_slider_tier1 {
    background-color: rgb(120, 120, 0);
}

.rating_slider_tier2 {
    background-color: rgb(255, 255, 150);
}

.rating_slider_tier3 {
    background-color: rgb(255, 150, 0);
}

.rating_slider_tier4 {
    background-color: rgb(255, 0, 0);
}

.rating_slider_tier5 {
    background-color: rgb(255, 0, 200);
}