.album_info_tags_category_tagToken_container {
	display: flex;
    margin: 0 3px;
}

.album_info_tags_category_tagToken_container_odd span {
    color: #cdcdcd;
}

.album_info_tags_category_tagToken_delete_icon_container {
	position: relative;
	height: 100%;
	width: 12pt;
}

.album_info_tags_category_tagToken_delete_icon {
	position: absolute;
    left: 1px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 12px;
    filter: invert(50%) sepia(1) hue-rotate(310deg) saturate(5);
}

.album_info_tags_category_tagToken_delete_icon:hover {
    filter: invert(50%) sepia(1) hue-rotate(310deg) saturate(10);
}

