.album_info_tags_category_tagToken_container {
	display: flex;
}

.album_info_tags_category_tagToken_container40 {
    opacity: .4;
}

.album_info_tags_category_tagToken_container60 {
    opacity: .6;
}

.album_info_tags_category_tagToken_container80 {
    opacity: .8;
}

.album_info_tags_category_tagToken_delete_icon_container {
	position: relative;
	height: 100%;
	width: 12pt;
}

.album_info_tags_category_tagToken_delete_icon {
	position: absolute;
    left: 1px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 12px;
    filter: invert(50%) sepia(1) hue-rotate(310deg) saturate(5);
}

.album_info_tags_category_tagToken_delete_icon:hover {
    filter: invert(50%) sepia(1) hue-rotate(310deg) saturate(10);
}

.dot {
    margin: 7px 3px;
    height: 0.2em;
    width: 0.2em;
    background-color: #cdcdcd;
    border-radius: 50%;
    display: inline-block;
}