.albums_container {
}

.album_tabs_panel_hidden {
  visibility: hidden;
  transition: 0s;
}

.album_media_list {
  display: flex;
  flex-wrap: wrap;
}

.albums_albums_container {
  display: flex;
  flex-wrap: wrap;
}

.albums_prompt_text {
  border-bottom: 1px solid #777;
  font-size: 22px;
  color: #fff;
}

.albums_side_button {
  margin: 10px 10px;
  width: 16pt;
  height: 16pt;
}

.album_side_button_dropdown {
  color: #fff;
  margin: 0 10px;
  float: right;
}

.albums_side_button_sort {
  width: 10pt;
  height: 10pt;
  background-color: #fff;
  margin-right: 0;
  border-radius: 25%;
  padding: 3pt;
  filter: invert(100%);
}

.albums_side_button_sort:hover {
  filter: invert(20%);
}

.albums_side_button_add {
  filter: invert(50%) sepia(1) hue-rotate(90deg) saturate(3);
}

.albums_side_button_add:hover {
  filter: invert(70%) sepia(1) hue-rotate(90deg) saturate(3);
}

.album_selector {
  position: fixed;
  box-sizing: border-box;
  top: 50pt;
  left: 0;
  padding-right: 5pt;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.album_selector_offset {
  left: 70pt;
  width: calc(100% - 70pt);
}

@media only screen and (max-width: 600px) {
  .albums_albums_container {
    justify-content: space-around;
  }
}