.albums_container {
}

.album_media_list {
    display: flex;
    flex-wrap: wrap;
}

.albums_albums_container {
    display: flex;
    flex-wrap: wrap;
}

.albums_prompt_text {
    border-bottom: 1px solid #777;
    font-size: 22px;
    color: #fff;
}

.albums_add_media_button {
    margin: 15px 10px 10px 10px;
    width: 15pt;
    height: 15pt;
    filter: invert(50%) sepia(1) hue-rotate(90deg) saturate(3);
}

.albums_add_media_button:hover {
    filter: invert(70%) sepia(1) hue-rotate(90deg) saturate(3);
}