.albums_container {
}

.album_media_list {
    display: flex;
    flex-wrap: wrap;
}

.albums_albums_container {
    display: flex;
    flex-wrap: wrap;
}

.albums_prompt_text {
    border-bottom: 1px solid #777;
    font-size: 22px;
    color: #fff;
}

.albums_side_button {
    margin: 15px 10px 10px 10px;
    width: 16pt;
    height: 16pt;
}

.album_side_button_dropdown {
    color: #fff;
    margin: 15px 10px 10px 10px;
    float: right;
}

.albums_side_button_sort {
    width: 10pt;
    height: 10pt;
    background-color: #fff;
    border-radius: 25%;
    padding: 3pt;
    filter: invert(100%);
}

.albums_side_button_sort:hover {
    filter: invert(20%);
}

.albums_side_button_add {
    filter: invert(50%) sepia(1) hue-rotate(90deg) saturate(3);
}

.albums_side_button_add:hover {
    filter: invert(70%) sepia(1) hue-rotate(90deg) saturate(3);
}