.login_form_container {
  position: fixed;
  left: 0;
  right: 0;
  top: 66px;
  background-color: #fff;
  width: 50%;
  height: 280px;
  margin: auto;
  border-radius: 0px 0px 0px 4px;
  padding: 20px 40px;
  box-shadow: 0 3px 7px 0 rgb(0 0 0 / 35%);
  transition: all 0.2s ease-in-out 0s;
}

.login_form_error {
  color: #b70707;
  margin:  15px 15px;
  font-size: 14px;
}

.login_form_disclaimer {
  font-size: 14px;
  color: #c5c5c5;
  margin-left: 15px;
}

.login_form_additional_login_options {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.login_form_additional_login_options > a {
text-decoration: none;
  cursor: pointer;
  color: #7f858a;
}