.sort_field_container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 5px;
}

.sort_field_selector_container {
  position: absolute;
  top: 60px;
  right: 100px;
  color: #fff;
}