.album_banner_rating {
  float: left;
  width: 14pt;
  height: 14pt;
  border-radius: 50%;
  margin: 6px 5px 5px 5px;
  display: inline-block;
  box-shadow: inset -1px -1px 7px, 1px 1px 5px;
}

.album_banner_rating_slider {
  margin-top: 0px;
}

.album_rating_no_rating {
  background-color: rgb(177, 177, 177);
}


.album_rating_tier1 {
  background-color: rgb(255, 255, 150);
}

.album_rating_tier2 {
  background-color: rgb(255, 255, 0);
}

.album_rating_tier3 {
  background-color: rgb(255, 150, 0);
}

.album_rating_tier4 {
  background-color: rgb(255, 0, 0);
}

.album_rating_tier5 {
  background-color: rgb(255, 0, 200);
}