.menubar_container {
    height: 100%;
    width: 100px;
    padding-left: 15px;
}

.menubar_icon {
    position: relative;
    height: 100%;
}


.searchbar_chevron_icon {
    height: 50px;
    width: 50px;
}

.menubar_content_container {
    position: fixed;
    box-sizing: border-box;
    left: 0;
    top: 50pt;
    background-color: rgba(17,17,17,0.75);
    padding: 40pt 0 5px 0;
    height: calc(100% - 50pt);
    box-shadow: 5px 3px 3px 0px rgb(0 0 0 / 25%);
}

.menubar_content {
    position: relative;
    height: 100%;
}

.menubar_child {
    padding: 20pt 15px 20pt 15px;
}

.menubar_child:hover {
    background-color: rgb(86 127 230 / 75%)
}

.menubar_bottom_content {
    position: absolute;
    bottom: 0;
}

.menubar_offset {
    left: 70pt !important;
    width: calc(100% - 70pt - 30px) !important;
}