.searchbar {
    height: 100%;
    display: flex;
}

.searchbar_iv_icon {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 40pt;
    width: 40pt;
    filter: invert(60%);
}

.searchbar_context {
    width: 100%;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 15px;
    display: flex;
}

.searchbar_input_text {
    font-size: 22px;
    border: none;
    width: 100%;
    background-color: rgba(17,17,17);
    color: #fff;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid #2a2a2a;
}

.searchbar_input_text:focus {
    outline: none !important;
    border: 1px solid #5369de;
}