.album_container {
    position: relative;
    display: inline-block;
    margin: 5px 5px;
    box-shadow: 4px 5px 2px 0px rgba(0, 0, 0, 0.25);
    -webkit-transition: all 0.4s ease;
    min-width: 200px;
}

.album_container p {
    white-space: normal;
}

.album_container h2 {
    overflow-wrap: break-word;
    white-space: normal;
    word-break: break-word;
    max-width: 200px;
    color: #fff;
    margin: 5px 5px 5px 5px;
}

.album_container h3 {
    color: #848484;
    margin: 5px 5px 5px 5px;
    font-size: 12pt;
}

.album_container h4 {
    color: #848484;
    margin: 0 0 0 1em;
    font-size: 0.8em;
}

.album_title {
    padding-left: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: inset -1px 1px 5px 0px rgb(0 0 0 / 25%), inset 0px -3px 6px 2px rgb(0 0 0 / 25%);
    background-color: #001972;
    border: 1px outset #fff;
}

.album_title h2 {
    font-size: 14pt;
}

.album_title_normal {
    font-size: 1.5em;
}

.album_title_20 {
    font-size: 1em;
}

.album_title_40 {
    font-size: 0.5em;
}

.album_banner {
    margin: 0;
    border-left: 1px outset #fff;
    border-right: 1px outset #fff;
    border-bottom: 1px outset #fff;
    background-color: #fff;
    position: relative;
    height: 15px;
    transition: 1s;
    cursor: default;
}

.album_banner:hover {
    background-color: #98a8fd;
}

.album_banner h4 {
    float: left;
}

.album_banner_rating {
    float: right;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 1px 0;
}

.album_center_container {
    border-left: 1px outset #fff;
    border-right: 1px outset #fff;
    box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.1);
    height: 200px;
    overflow: hidden;
    background: rgba(0,0,0, 0.25);
    cursor: pointer;
}

.album_wrapper {
    height: 100%;
    width: 100%;
    position: relative;
    box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid #9c9c9c;
    background-color: #000;
    text-align: center;
}

.album_image {
    max-height: 200px;
}

.album_info_container {
    position: absolute;
    width: 100%;
    bottom: 15px;
    padding-bottom: 10px;
    background-color: rgba(0,0,0, 0.8);
    color: #fff;
    cursor: default;
}

.album_info_edit_icon {
    filter: invert(42%);
    margin-top: 5px;
    margin-right: 10px;
    height: 10pt;
    width: 10pt;
    float: right;
}

.album_info_edit_buttons {
    margin-top: 5px;
    margin-right: 10px;
    float: right;
}

.album_info_edit_buttons img {
    height: 15pt;
    width: 15pt;
}

.album_info_edit_buttons_save {
    filter: invert(50%) sepia(1) hue-rotate(90deg) saturate(5);
}

.album_info_edit_buttons_cancel {
    filter: invert(50%) sepia(1) hue-rotate(320deg) saturate(5);
}

.album_text_field {
    font-style: italic;
    color: #fff;
    background-color: transparent;
    border: none;
    border-radius: 4px;
}

.album_name_text_field {
    font-size: 14pt;
    width: calc(100% - 15px);
    margin: 10px 0 5px 0;
    line-height: 18px;
    color: #fff;
}

.album_info_description_text {
    color: #fff;
    width: calc(100% - 35px);
    background-color: transparent;
    border-radius: 4px;
    margin-left: 15px;
    font-size: 14px;
}

.album_publisher_text_field {
    float: left;
    color: #848484;
    margin-left: 10px;
    width: calc(100% - 40px);
}

.album_edit_submit {
    display: block;
    width: calc(100% - 10px);
    border: 1px solid #3b4354;
    background-color: #229327;
    color: #fff;
    border-radius: 4px;
    line-height: 1.4em;
    text-align: center;
    font-size: 18px;
    outline: none;
    margin: 0 5px 0 5px;
}

.album_edit_submit:hover {
    background-color: #27cb2f;
}

.album_banner_rating_slider {
    margin-top: 0px;
}